.loginpage {
  background-image: linear-gradient(
      45deg,
      rgba(210, 246, 254, 0.53) 0%,
      rgba(254, 246, 210, 0.53) 14.286%,
      rgba(221, 240, 216, 0.53) 14.286%,
      rgba(221, 240, 216, 0.53) 28.572%,
      rgba(188, 233, 223, 0.53) 28.572%,
      rgba(188, 233, 223, 0.53) 42.858%,
      rgba(156, 227, 229, 0.53) 42.858%,
      rgba(156, 227, 229, 0.53) 57.144%,
      rgba(123, 220, 235, 0.53) 57.144%,
      rgba(123, 220, 235, 0.53) 71.42999999999999%,
      rgba(90, 214, 242, 0.53) 71.43%,
      rgba(90, 214, 242, 0.53) 85.71600000000001%,
      rgba(57, 207, 248, 0.53) 85.716%,
      rgba(57, 207, 248, 0.53) 100.002%
    ),
    linear-gradient(
      135deg,
      rgb(6, 250, 112) 0%,
      rgb(160, 253, 10) 12.5%,
      #94df62 12.5%,
      rgb(3, 137, 6) 25%,
      rgb(5, 131, 34) 25%,
      #09d61d 37.5%,
      rgb(8, 246, 44) 37.5%,
      rgb(96, 188, 114) 50%,
      rgb(93, 245, 11) 50%,
      rgb(119, 184, 95) 62.5%,
      rgb(79, 245, 8) 62.5%,
      rgb(94, 180, 124) 75%,
      rgb(93, 176, 101) 75%,
      rgb(93, 176, 105) 87.5%,
      rgb(63, 234, 12) 87.5%,
      rgb(82, 172, 144) 100%
    );
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  position: fixed 0px 0px 0px 0px;
  overflow: scroll;
}

._offset_az16x_135 {
  min-height: 0px;
}
.Body {
  display: flex;
  justify-content: center;
  align-items: center;

  background: url(photo-1488554378835-f7acf46e6c98.webp);
  background-size: cover;
  background-position: center;
}
.Login {
  width: 700px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  height: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
